<div class="row artwork-header">
  <div class="col-xs-2"></div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12 artist-name">
        <h2 class="exfrasis-heading">
          <%= @artwork.artist_name %>
        </h2>
      </div>
      <div class="col-xs-12 artwork-title">
        <%= @artwork.title %>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= link_to new_like_path(artwork_id: @artwork.id) do %>
      <i class="fa fa-heart-o fa-3x"></i>
    <% end %>
    <%= "you liked it" if @artwork.liked_by? @cached_guest_user %>
  </div>
</div>

<% @artwork.comments.each do |comment| %>
  <div class="col-xs-12 artwork-image">
    <%= comment.text %>
  </div>
<% end %>

<%= form_for @comment, url: "/comments" do |comment_form| %>
  <%= comment_form.text_field :text %>
  <%= hidden_field_tag(:artwork_id, @artwork.id) %>
<% end %>

